<!DOCTYPE html>
<html>
  <head>

     <link rel="stylesheet" type="text/css" href="style.css">  
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i&display=swap" rel="stylesheet">

  <link 
  rel="stylesheet"
  href="prism-atom-dark.css"
  type="text/css"
  media="screen"
  />
  <script type="text/javascript" src="prism.js"></script>
  <script type="text/javascript" src="prism.ruby.js"></script>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
